{% extends 'base.html.twig' %} {% block body %}
<div class="section-container">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="section-container-spacer text-center">
          <h1 class="h2">03 : Form</h1>
        </div>

        <div class="container h-100">
          <div class="row h-100 justify-content-center align-items-center">
            <div class="col-10 col-md-8 col-lg-6">
              <form action="" class="reveal-content">
                <div class="form-group">
                  <label for="genderSelect">Gender</label>
                  <select id="genderSelect" class="form-control">
                    <option>In another way</option>
                    <option>Man (including trans men)</option>
                    <option>Non-binary</option>
                    <option>Prefer not to say</option>
                    <option>Woman (including trans women)</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="ethnicitySelect">Ethnicity</label>
                  <select id="ethnicitySelect" class="form-control">
                    <option>Asian</option>
                    <option>Black</option>
                    <option>Middle Eastern or North African</option>
                    <option>Mixed</option>
                    <option>Other</option>
                    <option>Prefer not to say</option>
                    <option>White</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="degreesSelect">Degrees</label>
                  <select id="degreesSelect" class="form-control">
                    <option>Bachelor</option>
                    <option>High school</option>
                    <option>Master</option>
                    <option>Other</option>
                    <option>PhD</option>
                    <option>Prefer not to say</option>
                    <option>Vocational School</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="yearExperience">Years of experience</label>
                  <input
                    type="number"
                    min="0"
                    class="form-control"
                    id="yearsExperience"
                  />
                </div>
                <div class="form-group">
                  <label for="incomeSelect">Other sources of income</label>
                  <select id="incomeSelect" class="form-control">
                    <option>Family support</option>
                    <option>Freelancing</option>
                    <option>Other</option>
                    <option>Partner support</option>
                    <option>Prefer not to say</option>
                    <option>Rental property income</option>
                    <option>Social security benefits</option>
                    <option>Survival job</option>
                  </select>
                </div>
                <button type="submit" class="btn btn-default btn-lg">
                  Send
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
