{% extends 'base.html.twig' %} {% block body %}
<div class="section-container">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="section-container-spacer text-center">
          <h1 class="h2">03 : Form</h1>
        </div>
        <div class="section-container-spacer text-center">
          <h3 class="h3">About you</h3>
        </div>

        <div class="container h-100">
          <div class="row h-100 justify-content-center align-items-center">
            <div class="col-10 col-md-8 col-lg-6">
              <form id="userForm" class="reveal-content">
                <div class="form-group">
                  <label for="genderSelect">Gender</label>
                  <select id="genderSelect" class="form-control">
                    <option name="in another way">In another way</option>
                    <option name="man">Man (including trans men)</option>
                    <option name="non-binary">Non-binary</option>
                    <option name="prefer not to say">Prefer not to say</option>
                    <option name="woman">Woman (including trans women)</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="ethnicitySelect">Ethnicity</label>
                  <select id="ethnicitySelect" class="form-control">
                    <option name="asian">Asian</option>
                    <option name="black">Black</option>
                    <option name="middle eastern or notrth african">
                      Middle Eastern or North African
                    </option>
                    <option name="mixed">Mixed</option>
                    <option name="other">Other</option>
                    <option name="prefer not to say">Prefer not to say</option>
                    <option name="white">White</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="degreesSelect">Degrees</label>
                  <select id="degreesSelect" class="form-control">
                    <option name="bachelor">Bachelor</option>
                    <option name="high school">High school</option>
                    <option name="master">Master</option>
                    <option name="other">Other</option>
                    <option name="phd">PhD</option>
                    <option name="prefer not to say">Prefer not to say</option>
                    <option name="vocational school">Vocational School</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="yearExperience">Years of experience</label>
                  <input
                    type="number"
                    min="0"
                    class="form-control"
                    id="yearsExperience"
                  />
                </div>
                <div class="form-group">
                  <label for="incomeSelect">Other sources of income</label>
                  <select id="incomeSelect" class="form-control">
                    <option name="family support">Family support</option>
                    <option name="freelancing">Freelancing</option>
                    <option name="other">Other</option>
                    <option name="partner support">Partner support</option>
                    <option name="prefer not to say">Prefer not to say</option>
                    <option name="rental property income">
                      Rental property income
                    </option>
                    <option name="social security benefits">
                      Social security benefits
                    </option>
                    <option name="survival job">Survival job</option>
                  </select>
                </div>
                <button type="submit" class="btn btn-default btn-lg">
                  Add a job
                </button>
              </form>
            </div>
          </div>
          <div id="divJob"></div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %} {# {% block javascripts %}
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script>
  envoyer.addEventListener("click", (event) => {
    event.preventDefault();

    axios({
      url: '{{ path ("job_form.html.twig") }}',
      method: "POST",
      headers: { "Content-Type": "multipart/form-data" },
      data: new FormData(userForm),
    })
      .then(function (response) {
        console.log(response.data);
        // on affiche le resultat dans le div
        donnees = response.data;
        document.getElementById("divJob").innerHTML = response.data;
      })
      .catch(function (error) {
        console.log(error);
      });
  });
</script>

{% endblock %} #}
